
<div class="row container-fuild px-5">
    <div class="col-md-2">
        <a role="button" (click)="ViewDetail(1)" >
            <div class="card mb-3 btn-success" >
                <div class="card-body" >
                    <h6 class="card-title font-weight-bold" >Quản Lý Sản Phẩm</h6>
                </div>
            </div>
        </a>
        <a role="button" (click)="ViewDetail(2)" >
            <div class="card mb-3 btn-secondary" >
                <div class="card-body" >
                    <h6 class="card-title font-weight-bold">Quản Lý Loại Sản Phẩm</h6>
                </div>
            </div>
        </a>
        <a role="button" (click)="ViewDetail(3)" >
            <div class="card mb-3 btn-info" >
                <div class="card-body" >
                    <h6 class="card-title font-weight-bold">Quản Lý Nhà Sản Xuất</h6>
                </div>
            </div>
        </a>
        <a role="button" (click)="ViewDetail(4)" >
            <div class="card mb-3 btn-warning" >
                <div class="card-body" >
                    <h6 class="card-title font-weight-bold">Quản Lý Đơn Hàng</h6>
                </div>
            </div>
        </a>
    </div>
<div class="col-10">
    <app-admin-products [hidden]="CurAcctive != func.product"></app-admin-products>
    <app-admin-categories [hidden]="CurAcctive != func.categories"></app-admin-categories>
    <app-admin-bills [hidden]="CurAcctive != func.bill"></app-admin-bills>
    <app-admin-suppliers [hidden]="CurAcctive != func.supplier"></app-admin-suppliers>
</div> 
</div>
<div class="admin-body">

</div>


