tr{
    th{
        text-align: center;
        vertical-align: middle;
    }
    td{
        input{
            height: 2.3rem;
        }
    }
}
.header-tb{
    background-color: #c0c0c08a !important;
}