<table>
    <tr>
        <th style="width:3rem;">ID</th>
        <th>Tên sản phẩm</th>
        <th>Code</th>
        <th>Loại</th>
        <th>Giá</th>
        <th>Nhà Sản Xuất</th>
        <th>Mô tả</th>
        <th>Link Hình ảnh</th>
        <th>Thao tác</th>
    </tr>
    <tr *ngFor="let prod of LstProduct"> 
        <td style="width:3rem;"><input [(ngModel)]="prod.ID" style="width:3rem;"></td>
        <td><input [(ngModel)]="prod.Name"></td>
        <td><input [(ngModel)]="prod.Code"></td>
        <td><input [(ngModel)]="prod.TypeName"></td>
        <td><input [(ngModel)]="prod.Price"></td>
        <td><input [(ngModel)]="prod.Supplier"></td>
        <td><input [(ngModel)]="prod.Description.Design"></td>
        <td><input [(ngModel)]="prod.Image[0].url"></td>
        <td>
            <button class="btn btn-success">Cập nhật</button>
            <button class="btn btn-danger">Xóa</button>
        </td>
    </tr>

</table>