<div class="row">
    <div class="col-10">
        <a class="btn btn-primary">
            <i class="fa fa-plus"> </i> Thêm Hãng sản xuất</a>
    </div>

</div>
<div class="row">
    <div class="col-12" style="background-color: white !important;">
        <div class="row">
            <table>
                <tr class="header-tb">
                    <th style="width:3rem;" class="text-center text-primary">ID</th>
                    <th class="text-left text-primary">Tên hãng sản xuất</th>
                    <th class="text-center text-primary">Thao tác</th>
                </tr>
                <tr *ngFor="let suppl of LstSupplier">
                    <td>
                        <input type="text" class="form-control form-control-sm text-center mr-1" [(ngModel)]="suppl.SuppliersID" style="width:3rem;">
                    </td>
                    <td>
                        <input type="text" class="form-control form-control-sm mr-1" [(ngModel)]="suppl.Suppliersnames">
                    </td>
                    <td>
                        <a class="text-success ml-1 mr-1" role="button"><i class="fa fa-save"></i></a>
                        <a class="text-danger ml-1" role="button"><i class="fa fa-remove"></i></a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <nav aria-label="pagination example">
                    <ul class="pagination pg-blue">

                        <!--Arrow left-->
                        <li class="page-item" [disabled]="pageNumber == 1">
                            <a class="page-link" (click)="LoadData(pageNumber-1);" aria-label="Previous">
                                <span aria-hidden="true" class="h5">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>

                        <li class="page-item" *ngFor="let item of CreateRange()">
                            <a class="page-link" (click)="LoadData(item);">
                                <h5>{{item}}</h5>
                                <span *ngIf="item==pageNumber" class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="page-item" [disabled]="pageNumber == numPage">
                            <a class="page-link" (click)="LoadData(pageNumber+1);" aria-label="Next">
                                <span aria-hidden="true" class="h5">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

        </div>

    </div>
</div>