<!--Accordion wrapper-->
<mdb-squeezebox [multiple]="false" aria-multiselectable="true">
    <mdb-item [collapsed]="false">
        <mdb-item-head>
            <span class="h5"> Sản phẩm mới nhất</span>
        </mdb-item-head>
        <mdb-item-body>
            <!--Carousel Wrapper-->
            <mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'" [animation]="'slide'">
                <!--First slide-->
                <mdb-slide>
                    <div class="col-md-4">
                        <div class="card">
                            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Card title</h4>
                                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary waves-light" mdbWavesEffect>Button</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 clearfix d-none d-md-block">
                        <div class="card">
                            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Card title</h4>
                                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary waves-light" mdbWavesEffect>Button</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 clearfix d-none d-md-block">
                        <div class="card">
                            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Card title</h4>
                                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary waves-light" mdbWavesEffect>Button</a>
                            </div>
                        </div>
                    </div>
                </mdb-slide>
                <!--/First slide-->
                <!--Second slide-->
                <mdb-slide>
                    <div class="col-md-4">
                        <div class="card">
                            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(60).jpg" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Card title</h4>
                                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary waves-light" mdbWavesEffect>Button</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 clearfix d-none d-md-block">
                        <div class="card">
                            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(47).jpg" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Card title</h4>
                                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary waves-light" mdbWavesEffect>Button</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 clearfix d-none d-md-block">
                        <div class="card">
                            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(48).jpg" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Card title</h4>
                                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary waves-light" mdbWavesEffect>Button</a>
                            </div>
                        </div>
                    </div>
                </mdb-slide>
                <!--/Second slide-->
                <!--Third slide-->
                <mdb-slide>
                    <div class="col-md-4">
                        <div class="card">
                            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(53).jpg" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Card title</h4>
                                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary waves-light" mdbWavesEffect>Button</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 clearfix d-none d-md-block">
                        <div class="card">
                            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(45).jpg" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Card title</h4>
                                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary waves-light" mdbWavesEffect>Button</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 clearfix d-none d-md-block">
                        <div class="card">
                            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(51).jpg" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Card title</h4>
                                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary waves-light" mdbWavesEffect>Button</a>
                            </div>
                        </div>
                    </div>
                </mdb-slide>
                <!--/Third slide-->
            </mdb-carousel>
            <!--/.Carousel Wrapper-->

        </mdb-item-body>
    </mdb-item>
    <mdb-item [collapsed]="false">

        <mdb-item-head>
            <span class="h5">Sản phẩm bán chạy nhất</span>
        </mdb-item-head>
        <mdb-item-body>
            <!--Carousel Wrapper-->
            <mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [type]="'carousel-thumbnails'" [animation]="'fade'">
                <!--First slide-->
                <mdb-slide>
                    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(88).jpg" alt="First slide">
                </mdb-slide>
                <!--/First slide-->
                <!--Second slide-->
                <mdb-slide>
                    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(121).jpg" alt="Second slide">
                </mdb-slide>
                <!--/Second slide-->
                <!--Third slide-->
                <mdb-slide>
                    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(31).jpg" alt="Third slide">
                </mdb-slide>
                <!--/Third slide-->
            </mdb-carousel>
            <!--/.Carousel Wrapper-->
        </mdb-item-body>

    </mdb-item>
    <mdb-item [collapsed]="false">
        <mdb-item-head>
            <span class="h5">Sản phẩm được xem nhiều nhất</span></mdb-item-head>
        <mdb-item-body>
            <!--Carousel Wrapper-->
            <mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'fade'">
                <!--First slide-->
                <mdb-slide>
                    <div class="view">
                        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg" alt="First slide">
                        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
                    </div>
                    <div class="carousel-caption">
                        <h3 class="h3-responsive">Light mask</h3>
                        <p>First text</p>
                    </div>
                </mdb-slide>
                <!--/First slide-->
                <!--Second slide-->
                <mdb-slide>
                    <div class="view">
                        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg" alt="Second slide">
                        <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
                    </div>
                    <div class="carousel-caption">
                        <h3 class="h3-responsive">Strong mask</h3>
                        <p>Secondary text</p>
                    </div>
                </mdb-slide>
                <!--/Second slide-->
                <!--Third slide-->
                <mdb-slide>
                    <div class="view">
                        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg" alt="Third slide">
                        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
                    </div>
                    <div class="carousel-caption">
                        <h3 class="h3-responsive">Slight mask</h3>
                        <p>Third text</p>
                    </div>
                </mdb-slide>
                <!--/Third slide-->
            </mdb-carousel>
            <!--/.Carousel Wrapper-->
        </mdb-item-body>
    </mdb-item>
</mdb-squeezebox>
<!--/.Accordion wrapper-->