<section class="section pb-3">
    <!--Section heading-->
    <h2 class="section-heading h1">DEVELOPING WEB APPLICATIONS</h2>
    <!--Section description-->
    <p class="section-description font-14">
            Internet phát triển vượt bậc đã kéo theo sự phát triển không ngừng về công nghệ trên internet, nó hình thành phong cách, lối sống và thói quen của rất nhiều cá nhân cũng như doanh nghiệp. Chính vì vậy website đối với kinh doanh và doanh nghiệp là không thể thiếu được. Ban chưa hiểu rõ lợi ích website hoặc muốn biết thêm câu hỏi về thiết kế web qúy khách có thể tham khảo thêm</p>


</section>
<div class="row">
    <div class="container">
        <h4 class="red-text"><b>Những mẫu Website đẹp</b></h4>
       <!--Carousel Wrapper-->
       <mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation">
            <!--First slide-->
            <mdb-slide>
                <div class="col-md-4">
                    <div class="card">
                        <img class="img-fluid" src="assets/img/home/M3.jpg">
                    </div>
                </div>
                <div class="col-md-4 clearfix d-none d-md-block">
                    <div class="card">
                        <img class="img-fluid" src="assets/img/home/M5.jpg">
                    </div>
                </div>
                <div class="col-md-4 clearfix d-none d-md-block">
                    <div class="card">
                        <img class="img-fluid" src="assets/img/home/M22.jpg">
                    </div>
                </div>
            </mdb-slide>
            <!--/First slide-->
            <!--Second slide-->
            <mdb-slide>
                    <div class="col-md-4">
                        <div class="card">
                            <img class="img-fluid" src="assets/img/home/M8.jpg">
                        </div>
                    </div>
                    <div class="col-md-4 clearfix d-none d-md-block">
                        <div class="card">
                            <img class="img-fluid" src="assets/img/home/M7.jpg">
                        </div>
                    </div>
                    <div class="col-md-4 clearfix d-none d-md-block">
                        <div class="card">
                            <img class="img-fluid" src="assets/img/home/M9.gif">
                        </div>
                    </div>
                </mdb-slide>
            <!--/Second slide-->                        
        </mdb-carousel>
        <!--/.Carousel Wrapper-->
    </div>
</div>