<div class="row container-fuild px-5" *ngIf="listproduct">
  <div class="col-3 py-3 px-4" *ngFor="let newest of listproduct let i=index">
    <div class="card pt-3">
      <div class="view overlay waves-light center" mdbWavesEffect>
        <a [routerLink]="['/detailphone']" [queryParams]="{product_id: newest.product_id}">
          <img class="center" width="180" height="180" src="./assets/img/{{newest.product_image_link}}" alt="">
        </a>
      </div>
      <div class="card-body">
        <h5 class="card-title">{{newest.product_name}}
        </h5>
        <ul class="rating">
          <li>
            <i class="fa fa-star"></i>
          </li>
          <li>
            <i class="fa fa-star"></i>
          </li>
          <li>
            <i class="fa fa-star"></i>
          </li>
          <li>
            <i class="fa fa-star"></i>
          </li>
          <li>
            <i class="fa fa-star-o"></i>
          </li>
          <li class="font-12 text-muted">({{newest.product_view}} Nhận xét)</li>
        </ul>
        <p class="price-sale">
          <span class="final-price">{{newest.product_price}} &nbsp;</span>
          <span class="sale-tag sale-tag-square">-{{newest.product_discount}}%</span>
        </p>
      </div>
      <a class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3 waves-light" mdbWavesEffect (click)="addcart(newest)"
        role="button">
        <i class="fa fa-shopping-cart pl-1 waves-light" mdbWavesEffect></i>
      </a>
      <div class="card-footer ">
        <ul class="list-unstyled list-inline font-small mt-3">
          <li class="list-inline-item pr-2 ">
            <i class="fa fa-clock-o pr-1"></i>{{newest.product_created| date: 'dd/MM/yyyy'}}</li>
          <li class="list-inline-item pr-2">
            <a class="">
              <i class="fa fa-shopping-cart pr-1"> </i>{{newest.product_pay}}</a>
          </li>
          <li class="list-inline-item pr-2">
            <a class="">
              <i class="fa fa-eye pr-1"></i>{{newest.product_view}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>