<p class="h4">Danh sách Giao dịch</p>
<kendo-grid [data]="listtransacsion" [height]="329" [pageSize]="gridState.take" [skip]="gridState.skip" [sort]="gridState.sort"
  [pageable]="true" [sortable]="true" [navigable]="true " [scrollable]="'virtual'" *ngIf="listtransacsion">
  <kendo-grid-column field="amount" title="Price" format="{0:n}" width="100" disabled>
  </kendo-grid-column>
  <kendo-grid-column field="created" title="Ngày Tạo" width="180" disabled>
  </kendo-grid-column>
  <kendo-grid-column field="user_email" title="email" width="180" disabled>
  </kendo-grid-column>
  <kendo-grid-column field="user_phone" title="phone" width="90" disabled>
  </kendo-grid-column>
  <kendo-grid-column field="adress" title="adress" disabled>
  </kendo-grid-column>
  <kendo-grid-column field="status" title="status" disabled>
    <ng-template kendoGridCellTemplate let-dataItem>
      <div *ngIf="dataItem.status==102">
        <label class="red-text">Đã Thanh Toán</label>
      </div>
      <div *ngIf="dataItem.status==103">
        <label class="red-muted">Hủy Thanh toán</label>
      </div>
      <div *ngIf="dataItem.status==101">
        <kendo-dropdownlist [data]="liststatus" [value]="dataItem.status" [valuePrimitive]="true" [textField]="'status_Name'" [valueField]="'status_id'"
          (valueChange)="handleCategoryChange($event)">
        </kendo-dropdownlist>
      </div>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="status" title="status" disabled>
    <ng-template kendoGridCellTemplate let-dataItem>
      <button class="btn btn-sm btn-block  btn-danger" type="button" (click)="Update(dataItem)">Update</button>
    </ng-template>
  </kendo-grid-column>
</kendo-grid>