<p class="h4">Danh sách Giao dịch</p>
<kendo-grid [data]="listtransacsion" (edit)="editHandler($event)" (cancel)="cancelHandler($event)" (save)="saveHandler($event)"
  (add)="addHandler($event)" [height]="329" [pageSize]="gridState.take" [skip]="gridState.skip" [sort]="gridState.sort" [pageable]="true"
  [sortable]="true" [navigable]="true " [scrollable]="'virtual'" *ngIf="listtransacsion">
  <!-- <kendo-grid-column field="catalog_id" title="Category" width="150">
    <ng-template kendoGridEditTemplate let-dataItem="dataItem" let-column="column" let-formGroup="formGroup">
      <kendo-dropdownlist [data]="categories" [value]="dataItem.catalog_id" [valuePrimitive]="true" [textField]="'catalog_name'"
        [valueField]="'catalog_id'">
      </kendo-dropdownlist>
    </ng-template>
  </kendo-grid-column> -->
  <kendo-grid-column field="amount" title="Price" format="{0:n}" width="100" disabled>
  </kendo-grid-column>
  <kendo-grid-column field="created" title="Ngày Tạo" width="180" disabled>
  </kendo-grid-column>
  <kendo-grid-column field="user_email" title="email" width="180" disabled>
  </kendo-grid-column>
  <kendo-grid-column field="user_phone" title="phone" width="90" disabled>
  </kendo-grid-column>
  <kendo-grid-column field="adress" title="adress" disabled>
  </kendo-grid-column>
  <kendo-grid-command-column title="command" width="175">
    <ng-template kendoGridCellTemplate let-isNew="isNew">
      <button kendoGridEditCommand [primary]="true">Edit</button>
      <button kendoGridSaveCommand [disabled]="formGroup?.invalid">{{ isNew ? 'Add' : 'Update' }}</button>
      <button kendoGridCancelCommand>{{ isNew ? 'Discard changes' : 'Cancel' }}</button>
    </ng-template>
  </kendo-grid-command-column>
</kendo-grid>