<div class="comtainer detailproduct">
    <div class="row" *ngIf="detailproduct">
        <div class="col-12">
            <!--Name-->

            <div class="row">
                <!--Avatar-->
                <div class="col-5 img-center">
                    <img width="360" height="360" src="./assets/img/{{detailproduct.Picture}}" alt="">
                </div>
                <!--Author Data-->
                <div class="col-5 h6 tableparameter">
                    <h2 class="font-weight-bold">{{detailproduct.ProductName}}</h2>
                    <ul class="parameter">
                        <li>
                            <span>Giá bán:</span>
                            <div>{{detailproduct.Price}}</div>
                        </li>
                        <li>
                            <span>Số lượt xem:</span>
                            <div>{{detailproduct.NumView}}</div>
                        </li>
                        <li>
                            <span>Số lượng bán:</span>
                            <div>{{detailproduct.NumPrice}}</div>
                        </li>
                        <li>
                            <span>Xuất xứ:</span>
                            <div>{{detailproduct.Madein}}</div>
                        </li>
                        <li>
                            <span>Loại:</span>
                            <div>{{detailproduct.Madein}}</div>
                        </li>
                        <li>
                            <span>Nhà sản xuất:</span>
                            <div>{{detailproduct.SuppliersName}}</div>
                        </li>
                        <li>
                            <span>Mô tả:</span>
                            <div>{{detailproduct.Price}}</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row p-3">
            <div class="col-12">
                <h4>Sản phẩm cùng loại</h4>
            </div>
            <div class="col-2 py-3" *ngFor="let newest of sametype let i=index">
                <div class="card pt-3" *ngIf="i<6">
                    <div class="view overlay waves-light center" mdbWavesEffect>
                        <a [routerLink]="['/detailphone']" [queryParams]="{productID: newest.ProductID}">
                            <img class="center" width="180" height="180" src="./assets/img/{{newest.Picture}}" alt="">
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{newest.ProductName}}
                        </h5>
                        <ul class="rating">
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                            <li>
                                <i class="fa fa-star-o"></i>
                            </li>
                            <li class="font-12 text-muted">(53 Nhận xét)</li>
                        </ul>
                        <p class="price-sale">
                            <span class="final-price">{{newest.Price}}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row p-3">
                <div class="col-12">
                    <h4>Sản phẩm cùng nhà sản xuất</h4>
                </div>
                <div class="col-2 py-3" *ngFor="let newest of samecompany let i=index">
                    <div class="card pt-3" *ngIf="i<6">
                        <div class="view overlay waves-light center" mdbWavesEffect>
                            <a [routerLink]="['/detailphone']" [queryParams]="{productID: newest.ProductID}">
                                <img class="center" width="180" height="180" src="./assets/img/{{newest.Picture}}" alt="">
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{newest.ProductName}}
                            </h5>
                            <ul class="rating">
                                <li>
                                    <i class="fa fa-star"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star-o"></i>
                                </li>
                                <li class="font-12 text-muted">(53 Nhận xét)</li>
                            </ul>
                            <p class="price-sale">
                                <span class="final-price">{{newest.Price}}</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

    </div>
</div>