<div class="comtainer detailproduct" *ngIf="iscart">
  <div class="row">
    <div class="col-12">
      <h4>Giỏ Hàng({{sumqty}} sản phẩm)</h4>
    </div>
    <div class="col-9" *ngIf="listorders">
      <div *ngFor="let items of listorders" class="pb-4">
        <div id="shopping-cart" *ngIf="items&&items.data">
          <div class="d-flex flex-row">
            <div style="padding-right: 40px">
              <img width="100" height="100" src="./assets/img/{{items.data.product_image_link}}">
            </div>
            <div>
              <div class="d-flex flex-row" style="width: 100%;">
                <div class="mr-auto" style="width: 500px;">
                  <p class="h5">{{items.data.product_name}}</p>
                  <button style="width: 100px;" type="button" (click)="deleteorders(items)" class="btn btn-sm btn-block btn-danger btn-checkout">Xóa</button>
                </div>
                <div>
                  <p class="h6"> Giá: {{items.data.product_price}}&nbsp;₫</p>
                  <p>Số lượng: {{items.orders_qty}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3" *ngIf="listorders">
      <p>
        <span>Tạm tính: </span>
        <strong>{{sumamount}}&nbsp;₫</strong>
      </p>
      <p>
        <span>Thành tiền: </span>
        <strong>{{sumamount}}&nbsp;₫</strong>
      </p>
      <button type="button" class="btn btn-large btn-block btn-success btn-checkout" (click)="buy()">Tiến hành đặt hàng</button>
    </div>
  </div>
</div>
<div class="row" *ngIf="!iscart">
  <div class="col-6" style="padding:20px;border-right:1px #bdbdbd solid ">
    <form [formGroup]="contactForm" (ngSubmit)="submitcontact(contactForm.value)">
      <p class="h4 pb-3">
        Thông tin cá nhân
      </p>
      <div class="md-form form-sm">
        <input mdbActive type="text" id="name1" class="form-control" formControlName="user_name" [control]="contactForm.controls.user_name">
        <label for="name1">Your name</label>
      </div>
      <div class="md-form form-sm">
        <input mdbActive type="email" id="email1" class="form-control" formControlName="user_email" [control]="contactForm.controls.user_email">
        <label for="email1">Your email</label>
      </div>
      <div class="md-form form-sm">
        <input mdbActive type="tel" id="phone1" class="form-control" formControlName="user_phone" [control]="contactForm.controls.user_phone">
        <label for="phone1">Your phone</label>
      </div>
      <div class="md-form form-sm">
          <input mdbActive type="text" id="phone2" class="form-control" formControlName="adress" [control]="contactForm.controls.adress">
          <label for="phone2">Địa chỉ</label>
        </div>
      <div class="text-center mt-1-half">
        <button type="submit" class="btn btn-info waves-effect waves-light"> Đặt hàng
          <i class="fa fa-sign-in ml-1"></i>
        </button>
      </div>
    </form>
  </div>
  <div class="col-6" style="padding: 20px;">
    <div class="card">
      <div class="card-body">
        <div class="d-flex flex-column py-3" style="width: 100%;">
          <div style="border-bottom: 1px #bdbdbd solid;width: 100%;" class="d-flex flex-row">
            <div class="mr-auto">Đơn hàng({{sumqty}} sản phẩm)</div>
            <div class="ml-auto">
              <button type="button" class="btn btn-block btn-sm btn-default" (click)="edit()">Sửa</button>
            </div>
          </div>
          <div *ngFor="let items of listorders" class="d-flex flex-row py-3" style="width: 100%;border-bottom: 1px #bdbdbd solid">
            <div class="mr-auto">{{items.data.product_name}}</div>
            <div class="pr-1">Sl: {{items.orders_qty}}</div>
            <div class="ml-auto">{{items.orders_amount}}</div>
          </div>
          <div class="d-flex flex-row py-3" style="width: 100%; border-bottom: 1px #bdbdbd solid">
            <div class="mr-auto">Tạm Tính:</div>
            <div class="ml-auto">{{sumamount}}</div>
          </div>
          <div class="d-flex flex-row py-3" style="width: 100%;">
            <div class="mr-auto">
              <b>Thành Tiền:</b>
            </div>
            <div class="ml-auto" class="h5 red-text">{{sumamount}}</div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
