<div class="comtainer detailproduct">
  <div class="row">
    <div class="col-12">
      <h4>Giỏ Hàng(0 sản phẩm)</h4>
    </div>
    <div class="col-9">
      <form id="shopping-cart">
        <div class="d-flex flex-row">
          <div style="padding-right: 40px">
            <img width="100" height="100" src="./assets/img/Iphone/iph001.jpg">
          </div>
          <div>
            <div class="d-flex flex-row" style="width: 100%;">
              <div class="mr-auto" style="width: 500px;">
                <p class="h5">Điện thoại di động</p>
                <button style="width: 100px;" type="button" class="btn btn-sm btn-block btn-danger btn-checkout">Xóa</button>
              </div>
              <div>
                <p class="h6"> Giá: 34.500&nbsp;₫</p>
                <p>1</p>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-3">
      <p>
        <span>Tạm tính: </span>
        <strong>174.000&nbsp;₫</strong>
      </p>
      <p>
        <span>Thành tiền: </span>
        <strong>174.000&nbsp;₫</strong>
      </p>
      <button type="button" class="btn btn-large btn-block btn-success btn-checkout">Tiến hành đặt hàng</button>
    </div>
  </div>
</div>