

<div class="row">
    <div class="col-md-2 float-left" >
        <mdb-squeezebox [multiple]="false" aria-multiselectable="false">
            <!-- Collapsible link -->
            <mdb-item>
                <mdb-item-head mdbRippleRadius>
                <i class="fa fa-globe"></i>ĐIỆN THOẠI</mdb-item-head>
                <mdb-item-body>
                <ul>
                    <li *ngFor = "let suppl of LstSupplier">
                    <a  class="waves-effect" mdbRippleRadius >{{suppl.Name}}</a>
                    </li>                  
                </ul>
                </mdb-item-body>
            </mdb-item>
            <mdb-item>
                <mdb-item-head mdbRippleRadius>
                <i class="fa fa-globe"></i>MÁY TÍNH BẢNG</mdb-item-head>
                <mdb-item-body>
                <ul>
                    <li *ngFor = "let suppl of LstSupplier">
                    <a  class="waves-effect" mdbRippleRadius>{{suppl.Name}}</a>
                    </li>                  
                </ul>
                </mdb-item-body>
            </mdb-item>
        </mdb-squeezebox>
    </div>
    <div class="col-md-10">
        <div class="row product-phone">
            <div class="col-md-2 float-left" *ngFor="let prod of LstProduct">
                <div class="card">
                    <div class="card-image">
                        <img class="img-fluid" src="{{prod.Image[0].url}}" alt="Card image cap" >
                    </div>
                    <div class="card-body mt-1" >
                        <h6 class="card-title">{{prod.Name}}</h6>
                        <p class="h6 text-danger">{{prod.Price | currency:'VND':true:'1.0-0'}}</p>
                        <a (click)="ViewDetail(prod.Code, prod.Type)"  >Xem chi tiết</a>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>
