<kendo-grid [data]="listproduct" (edit)="editHandler($event)" (cancel)="cancelHandler($event)" (save)="saveHandler($event)"
  (remove)="removeHandler($event)" (add)="addHandler($event)" [height]="329" [pageSize]="gridState.take" [skip]="gridState.skip"
  [sort]="gridState.sort" [pageable]="true" [sortable]="true" [navigable]="true" *ngIf="listproduct">
  <ng-template kendoGridToolbarTemplate>
    <button kendoGridAddCommand>Add new</button>
  </ng-template>
  <kendo-grid-column field="product_name" title="Name">
    <ng-template kendoGridEditTemplate let-column="column" let-formGroup="formGroup" let-isNew="isNew">
      <input #input class="k-textbox" [formControl]="formGroup.get(column.field)">
      <kendo-popup [anchor]="input" *ngIf="formGroup.get(column.field).invalid && !(isNew && formGroup.get(column.field).untouched)"
        popupClass="k-widget k-tooltip k-tooltip-validation k-invalid-msg">
        <span class="k-icon k-i-warning"></span>
        Product name is required
      </kendo-popup>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="product_madein" title="Madein" width="120">
    <ng-template kendoGridEditTemplate let-column="column" let-formGroup="formGroup" let-isNew="isNew">
      <input #input class="k-textbox" [formControl]="formGroup.get(column.field)">
      <kendo-popup [anchor]="input" *ngIf="formGroup.get(column.field).invalid && !(isNew && formGroup.get(column.field).untouched)"
        popupClass="k-widget k-tooltip k-tooltip-validation k-invalid-msg">
        <span class="k-icon k-i-warning"></span>
        product madein is required
      </kendo-popup>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="catalog_id" title="Category" width="150">
    <ng-template kendoGridEditTemplate let-dataItem="dataItem" let-column="column" let-formGroup="formGroup">
      <kendo-dropdownlist [data]="categories" [value]="dataItem.catalog_id" [valuePrimitive]="true" [textField]="'catalog_name'"
        [valueField]="'catalog_id'">
      </kendo-dropdownlist>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="company_id" title="Company" width="150">
    <ng-template kendoGridEditTemplate let-dataItem="dataItem" let-column="column" let-formGroup="formGroup">
      <kendo-dropdownlist [data]="listcompany" [value]="dataItem.company_id" [valuePrimitive]="true" [textField]="'company_name'"
        [valueField]="'company_id'">
      </kendo-dropdownlist>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="product_price" title="Price" format="{0:n}" width="130" editor="numeric">
  </kendo-grid-column>
  <kendo-grid-column field="product_discount" title="Discount" format="{0:n}" width="120" editor="numeric">
  </kendo-grid-column>
  <kendo-grid-command-column title="command" width="220">
    <ng-template kendoGridCellTemplate let-isNew="isNew">
      <button kendoGridEditCommand [primary]="true">Edit</button>
      <button kendoGridRemoveCommand>Remove</button>
      <button kendoGridSaveCommand [disabled]="formGroup?.invalid">{{ isNew ? 'Add' : 'Update' }}</button>
      <button kendoGridCancelCommand>{{ isNew ? 'Discard changes' : 'Cancel' }}</button>
    </ng-template>
  </kendo-grid-command-column>
</kendo-grid>